* {
	box-sizing: border-box;
}

.title {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

.buttons {
	text-align:center;
	margin:auto;
}

.search {
	text-align:center;
	margin:auto;
}

.btn:last-child {
	margin-top: 2em;
	margin-bottom: 2em; 
}

.Images {
	display: flex;
	width: 35em;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: auto;
}

li {
	list-style: none;
	margin: 1em;
}